.navbar-brand > img {
    height: 4em;
}

.col-lg-4 {
    flex: 0 0 25%;
}

.col-lg-4 a:hover h3 {
    color: #57cbcc;
    transition: all .2s ease-in 0s;
}

.col-lg-4 p, .col-lg-4 i {
    color: #737f8a;
}

.icon {
    height: 1.75em;
    margin-top: -0.5em;
}

strong {
    text-shadow: 1px 0 #737f8a;
    letter-spacing:1px;
}

.member-photo .mask ul {
    top: 45%;
}

.pb-5 {
    padding-bottom: 0 !important;
}

.contact-details {
    padding-top: 1.4rem;
}

.member-meta > h4 {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

article.col-lg-4 {
    min-width: 20rem;
}

@media (max-width: 768px) {
    article.col-lg-4 {
        flex-grow: 1;
    }
}

dt {
    font-size: 1.1em;
}

dd {
    padding-left: 2rem;
    padding-bottom: 1rem;
}